
.DS_Store
.DS_Store
Identification-of-agricultural-diseases-and-pests/big_model/model_data/efficientnet-b7-dcc49843.pth
.DS_Store
.DS_Store
*.jpg
Test/Merge_model/model_data/efficientnet-b7-dcc49843.pth
Test/Merge_model/log_4.pth
Test/Merge_model/log_4.pth
Test/Merge_model/model_data/efficientnet-b3-5fb5a3c3.pth
Test/Merge_model/model_data/mobilenet_v2-b0353104.pth
Test/Merge_model/log_4.pth
Test/Merge_model/log_4.pth
Test/Merge_model/log_4.pth
*.pth
Test/Merge_model/log_4.pth
